- @title= "All Docs"
= paginate @docs
%table{:id=>"pending-table", :width=>"100%"}
  %tr{:style=>"color:black; background-color:#97BF60;"}
    %th User
    %th Name
    %th FileName
    %th Created
    %th Updated
    %th Delete
  - @docs.each do |doc|
    %tr
      %td= doc.user.code if doc.user
      %td= link_to doc.name, :controller=>"mindapp", :action=>"document", :id=>doc.id
      %td= doc.filename
      %td= doc.created_at
      %td= doc.updated_at
      %td(align='center')
        - next unless login?
        - unless current_ma_user.role.upcase.split(',').include?("A")
          - next unless doc.user
          - next unless current_ma_user == doc.user
        = link_to image_tag('delete.png', style:'border:none; float:none;'), "#", :onclick=>"if (confirm('Please Confirm')) {location.hash='/docs/destroy/#{doc.id}';}"
