
%div{"data-role" => "menu_mm", "data-theme" => "b", "data-backbtn"=>"false"}
  %p= @doc.name
  %p= @doc.filename
  %p= @doc.url
  %p= @doc.content_type
  %p= @doc.basename
  %p= @doc.cloudinary



= link_to image_tag('pencil.png', style:'border:none; float:none;'), {controller: "mindapp", action: "init", s: 'docs:xedit_doc', doc_id: @doc.id}, data: { confirm: "Please Confirm" }
